body {
    overflow-x: hidden;
}

#app {
    width: 50%;
    height: 100vh;
    border: 1px solid lightgray;
    float: left;
}

#controller {
    width: 50%;
    height: 100vh;
    float: right;
    overflow-x: hidden;
    overflow-y: auto;
}

*::-webkit-scrollbar {
	width: 8px!important;
    height: 6px!important;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.2);
}

*::-webkit-scrollbar-track {
    background: rgba(255,255,255,.08);
}

.json-panel {
    border: 1px solid #E0E0E0;
}